{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Ermakov</title>
</head>
<body>
    <header>
        
        <h1>Єрмаков Ярослав</h1>
        
        <button id="main_btn" name = "to_main">
            <a href="#">На головну сторінку</a>
        </button>


    </header>
    <br><br><br><br>
<!-- ------------------------------------------------------------ -->

    <div class="theme">
        <img class = "img" src="{% static 'images/books.png'%}",alt = "Error",width = 300px; height= 300px;>
        <hr>
        <div class="paragraf-1">
            <h2>Освіта</h2>
            <div class="text">
                <p>Навчається в 9му класі ліцею №2 Підгородненської МР</p>
            </div>

        </div>
    </div>

    <div class="theme">
        <div class="paragraf-2">
            <h2>Досягнення в програмуванні</h2>

            <div class="text">
                <p>Навчався в школі програмування Logika. Наразі вчиться у школі програмування WorldIT</p>
            </div>

        </div>
        <img class = "img" src="{% static 'images/code.png'%}",alt = "Error", height = 280px>
    </div>

    <div class="theme">
        <img class = "img" src="{% static 'images/cupcake.png'%}",alt = "Error",width = 280px; height= 280px;>
        <hr>
        <div class="paragraf-1">
            <h2>Хоббі</h2>
            <div class="text">
                <p>Кулінарія</p>
            </div>

        </div>
    </div>

    <div class="theme">
        <div class="paragraf-2">
            <h2>Дозвілля</h2>

            <div class="text">
                <p>Спілкування та гра з друзями</p>
            </div>

        </div>
        <img class = "img" src="{% static 'images/diskord.png'%}",alt = "Error", height = 280px>
    </div>

</body>
</html>